/* FONTS */
/* Varela Round */
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
/* Material Icons */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
/* Ubuntu */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background: rgb(30, 30, 30);
}

button {
  border: none;
  background: dodgerblue;
  color: white;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: white;
  color: black;
}

i {
  font-style: normal;
  font-family: "Material Icons";
  position: relative;
  top: 7px;
}

#introHeader {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-family: "Varela Round";
  color: dodgerblue;
  font-size: 35px;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
}

#version {
  position: absolute;
  right: 0;
  color: rgb(200, 200, 200);
  font-family: "Lato";
  font-weight: 300;
  font-size: 20px;
  margin: 5px;
}

#createNewOrLoadFile {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Varela Round";
  font-size: 35px;
  text-align: center;
  width: 800px;
  display: block;
}

#createNewOrLoadFile button {
  font-family: "Ubuntu";
  font-size: 35px;
  margin: 20px;
  font-weight: 400;
}

#darkenBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  z-index: 1;
  display: none;
}

#createNew {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 450px;
  padding: 20px;
  border: 2px solid dodgerblue;
  border-radius: 25px;
  text-align: center;
  font-family: "Ubuntu";
  display: none;
  background: rgb(30, 30, 30);
  z-index: 2;
}

#createNew h1 {
  border-bottom: 2px solid rgb(130, 130, 130);
  padding-bottom: 15px;
  color: dodgerblue;
}

#createNew p {
  position: relative;
  font-size: 20px;
  top: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(130, 130, 130);
}

#createNew input {
  font-family: "Ubuntu";
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid dodgerblue;
  background: rgb(30, 30, 30);
  color: rgb(130, 130, 130);
}

#createNew select {
  font-family: "Ubuntu";
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  width: 250px;
  border: 1px solid dodgerblue;
  background: rgb(30, 30, 30);
  color: rgb(130, 130, 130);
}

#createNew button {
  position: relative;
  top: 50px;
  font-family: "Ubuntu";
  font-size: 18px;
  padding: 8px;
  border-radius: 10px;
}

#createNew p i {
  font-size: 25px;
  font-weight: 500;
  color: dodgerblue;
  cursor: pointer;
  position: relative;
  top: 5px;
  left: 3px;
  user-select: none;
}

#birthplaceInp {
  cursor: pointer;
}

#selectBirthplace {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 435px;
  padding: 20px;
  border: 2px solid dodgerblue;
  border-radius: 25px;
  text-align: center;
  font-family: "Ubuntu";
  display: none;
  background: rgb(30, 30, 30);
  z-index: 2;
}

#selectBirthplace h1 {
  border-bottom: 2px solid rgb(130, 130, 130);
  padding-bottom: 15px;
  color: dodgerblue;
}

#selectBirthplace p {
  position: relative;
  font-size: 20px;
  top: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(130, 130, 130);
}

#selectBirthplace input {
  font-family: "Ubuntu";
  position: relative;
  top: 15px;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid dodgerblue;
  background: rgb(30, 30, 30);
  color: rgb(130, 130, 130);
}

#selectBirthplace div button {
  position: relative;
  font-family: "Ubuntu";
  font-size: 18px;
  padding: 8px;
  border-radius: 10px;
  margin: 8px;
  width: 200px;
}

#countries {
  height: 310px;
  position: relative;
  top: 30px;
  overflow-x: hidden;
  overflow-y: auto;
}

#countries::-webkit-scrollbar {
  width: 10px;
}

#countries::-webkit-scrollbar-track {
  background: transparent;
}

#countries::-webkit-scrollbar-thumb {
  background: dodgerblue;
  border-radius: 10px;
}

#textPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  box-sizing: border-box;
  height: fit-content;
  padding: 20px;
  border: 2px solid dodgerblue;
  border-radius: 25px;
  text-align: center;
  font-family: "Ubuntu";
  background: rgb(30, 30, 30);
  z-index: 2;
  display: none;
}

#textPopup h1 {
  color: dodgerblue;
  font-size: 40px;
}

#textPopup p {
  position: relative;
  top: 20px;
  color: rgb(200,200,200);
  font-family: "Ubuntu";
  font-size: 20px;
  margin-bottom: 30px;
}

#mainFooter {
  position: absolute;
  width: 100vw;
  height: 300px;
  background: rgb(50, 50, 50);
  bottom: 0;
  text-align: center;
}

#mainFooter p {
  position: relative;
  top: 30px;
  margin: 20px;
  font-family: "Ubuntu";
  font-size: 30px;
  color: white;
}

#textArea {
  position: absolute;
  top: 100px;
  width: 100%;
  height: calc(100vh - 520px);
  font-family: "Lato";
  font-weight: 300;
  color: rgb(200, 200, 200);
  font-size: 20px;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

#textArea age {
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 22px;
  color: dodgerblue;
}

#textArea p {
  margin-bottom: 30px;
}

#mainHeader {
  position: absolute;
  width: 100vw;
  height: 100px;
  background: rgb(50, 50, 50);
  top: 0;
}

#mainHeader p {
  position: relative;
  top: 30px;
  font-family: "Ubuntu";
  font-size: 30px;
  color: white;
  left: 20px;
}

#stats {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  cursor: pointer;
  transition: 0.4s;
}

#statsPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 150px;
  padding: 20px;
  border: 2px solid dodgerblue;
  border-radius: 25px;
  text-align: center;
  font-family: "Ubuntu";
  font-size: 30px;
  color: white;
  background: rgb(30, 30, 30);
  z-index: 2;
  display: none;
}

#activityBar {
  position: absolute;
  background: dodgerblue;
  bottom: 300px;
  width: 100%;
  height: 100px;
  overflow: visible;
}

#ageUp {
  position: relative;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 65px;
  width: 130px;
  height: 130px;
  background: rgb(62, 191, 255);
  border: 4px solid white;
  border-radius: 50%;
  z-index: 1;
}

#ageUp:hover {
  width: 140px;
  height: 140px;
  top: -20px;
  font-size: 75px;
  color: white;
}

#main {
  display: none;
}

progress {
  -webkit-appearance: none;
}

::-webkit-progress-bar {
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

::-webkit-progress-value {
  border-radius: 8px 0 0 8px;
  background: dodgerblue;
}

#loadingScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(30,30,30);
  z-index: 1000;
  display: none;
}

#loadingRotator {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top: 5px solid rgb(200, 200, 200);
  border-right: none;
}

@media (max-width: 1600px) {
  #mainHeader {
    height: 80px;
  }

  #mainHeader p {
    font-size: 25px;
  }

  #activityBar {
    height: 80px;
    bottom: 240px;
  }

  #ageUp {
    height: 110px;
    width: 110px;
    font-size: 58px;
  }

  #ageUp:hover {
    height: 120px;
    width: 120px;
    top: -20px;
    font-size: 68px;
  }

  #mainFooter {
    height: 240px;
  }

  #stats p {
    top: 23px;
    font-size: 20px;
  }

  progress {
    height: 20px;
    width: 200px;
  }

  #textArea {
    top: 80px;
    height: calc(100vh - 420px);
  }

}
