@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(30, 30, 30);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
}
div#start {
  display: block;
}
div#end {
  display: none;
}
div#timeBetweenSpawns {
  display: none;
}
div#themeSelect {
  display: none;
}
div#start,
div#end,
div#timeBetweenSpawns,
div#themeSelect,
div#countdown {
  font-family: "Montserrat";
  background-color: rgb(70, 70, 70);
  font-size: 50px;
  width: 600px;
  padding: 50px;
  border-radius: 30px;
  font-weight: 600;
  color: darkviolet;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 5px solid darkviolet;
}
div#countdown {
  display: none;
  width: 150px;
}
input {
  text-align: center;
  margin-top: 30px;
  font-family: "Montserrat";
  font-size: 50px;
  color: darkviolet;
  font-weight: 600;
  background: transparent;
  border: 5px solid darkviolet;
  border-radius: 20px;
  width: 150px;
}
button {
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  border: 5px solid darkviolet;
  color: darkviolet;
  font-weight: 600;
  border-radius: 20px;
  font-family: "Montserrat";
  font-size: 40px;
  cursor: pointer;
  transition: 0.4s;
}
button:hover {
  background-color: darkviolet;
  color: white;
}
i {
  position: relative;
  top: 4px;
  font-family: "Material Icons";
  font-style: normal;
}
div#timer {
  text-align: center;
  display: none;
  width: 100px;
  font-family: "Montserrat";
  font-size: 30px;
  color: darkviolet;
  padding: 10px;
  border-radius: 15px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgb(70, 70, 70);
}
div#score {
  text-align: center;
  display: none;
  width: 50px;
  font-family: "Montserrat";
  font-size: 30px;
  color: darkviolet;
  padding: 10px;
  border-radius: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgb(70, 70, 70);
}
div.node {
  box-shadow: 0 0 4px 4px darkviolet;
  position: absolute;
  width: 30px;
  height: 30px;
  background: white;
  border: 20px solid darkviolet;
  border-radius: 50%;
  cursor: pointer;
}
div.theme {
  position: relative;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 30px;
  border: 5px solid black;
  border-radius: 10px;
  cursor: pointer;
}
div.red {
  background: red;
}
div.orange {
  background: orange;
}
div.yellow {
  background: yellow;
}
div.green {
  background: lime;
}
div.blue {
  background: darkviolet;
}
div.purple {
  background: darkviolet;
}
