* {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}

body {
    background: rgb(40,40,40);
}

table {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
}

td {
    width: 60px;
    height: 60px;
    background: rgb(60,60,60);
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 600;
}

#wordInput {
    top: 520px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background: transparent;
    border: none;
    font-size: 25px;
    width: 248px;
    height: 40px;
    color: white;
    padding: 5px;
    background: rgb(60,60,60);
}