@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
body {
  background-color: rgb(200, 200, 200);
  transition: 0.2s;
}
div.calculator {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
div.head {
  position: relative;
  bottom: 440px;
  height: 150px;
  width: 300px;
  background-color: rgb(20, 20, 20);
  border-radius: 25px 25px 0 0;
  border-top: 5px solid rgb(59, 59, 59);
  border-left: 5px solid rgb(42, 42, 42);
  border-right: 5px solid rgb(15, 15, 15);
  text-align: center;
}
div.body {
  position: relative;
  top: 80px;
  padding-top: 25px;
  height: 350px;
  width: 300px;
  background-color: rgb(70, 70, 70);
  border-radius: 0 0 25px 25px;
  border-left: 5px solid rgb(112, 112, 112);
  border-bottom: 5px solid rgb(27, 27, 27);
  border-right: 5px solid rgb(27, 27, 27);
  margin-left: auto;
  margin-right: auto;
}
h1#display {
  position: relative;
  top: 25px;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Orbitron";
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 230px;
  height: 60px;
  padding-top: 25px;
  background-color: rgb(57, 66, 57);
  border-radius: 3px;
  border-top: 3px solid rgb(69, 85, 69);
  border-left: 3px solid rgb(59, 73, 59);
  border-bottom: 3px solid rgb(35, 42, 35);
  border-right: 3px solid rgb(29, 36, 29);
  color: rgba(0, 0, 0, 0.6);
  text-align: right;
}
div.buttons {
  text-align: center;
}
div.button {
  display: inline-block;
  font-family: "Roboto";
  color: rgb(28, 28, 28);
  font-size: 40px;
  font-weight: 500;
  height: 50px;
  width: 50px;
  background-color: rgb(110, 110, 110);
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 3px solid rgb(128, 128, 128);
  border-left: 3px solid rgb(112, 112, 112);
  border-bottom: 3px solid rgb(27, 27, 27);
  border-right: 3px solid rgb(27, 27, 27);
  border-radius: 3px;
  cursor: pointer;
}
div.button:active {
  background-color: rgb(85, 85, 85);
  transform: scale(0.98, 0.98);
}
div.thick {
  width: 70px;
}
div.thin {
  width: 30px;
}
div#modeSwitch {
  transition: 0.2s;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid rgb(30, 30, 30);
  padding: 5px;
  cursor: pointer;
  font-family: "Roboto";
  color: transparent;
}
div#modeSwitchBubble {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 20px;
  width: 20px;
  background-color: rgb(30, 30, 30);
  border-radius: 20px;
  border: 2px solid transparent;
  cursor: pointer;
  color: rgb(30, 30, 30);
}
span[text] {
  position: relative;
  left: 25px;
  top: 1px;
}
@media (max-width: 500px) {
  body {
    position: relative;
    top: 500px;
  }
  div#modeSwitch {
    top: -495px;
  }
  div#modeSwitchBubble {
    top: -490px;
  }
}
